section.off {
    color: white;
    overflow: hidden;
    
    &.offer > div > .words_container {
        margin-top: 17.5%;
        margin-bottom: 17.5%;
    }
        
    > div {
        width: 50%;
        float: left;
        @extend .bg-cover;
        color: #dcd7d7;
        
        > .words_container {
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
        
        &:first-of-type {
            background-image: url(../images/offer1.jpg);
            > .words_container {
                margin-left: 23%;
                margin-right: 10%;
            }
        }
        &:last-of-type {
            background-image: url(../images/offer2.jpg);
            > .words_container {
                margin-left: 10%;
                margin-right: 23%;
            }
        }
        
        h2 {
            font-size: 30px;
            span {
                color: #ff0202;
                font-weight: bolder;
            }
        }

        p {
            color: #aba4a4;
            line-height: 2;
            margin: 18px 0 46px;
        }

    }
    
}